body {
    background-color: darkslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 100px;
    flex-direction: column;
    color: white;
    font-family: 'Press Start 2P', cursive;
}

.game-window {
    width: 720px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px white solid;
    padding: 0 10px 0 10px;
}

.maze-window {
    width: 460px;
    height:460px;
    border: white 2px solid;
    display: flex;
    position: relative;
}

.side-window {
    width: 240px;
    height: 460px;
    border: white 2px solid;
    justify-self:right;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.hero-info {
    width: 240px;
    height: 150px;
    border-bottom: white 2px solid;   
}

.enemy-info {
    width: 240px;
    height: 150px;
    border-bottom: white 2px solid;   
}

.controll {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.button {
    width: 75px;
    height:75px;
    background-color: tomato;
    border: 2px white solid;
}

.button:target {
    background-color: black;
}

.button:hover {
    background-color: rgb(165, 65, 47);
}

.turnRight {
    transform: scale(-1, 1);
}

.backward {
    transform: scale(1, -1);
}

.left {
    transform: rotate(-90deg);
}

.right {
    transform: rotate(90deg);
}

/* MAZE DISPLAY WINDOW */



.left-side .medium {
    position: absolute;
    left: 48px;
    top: 48px;
    z-index: -2;
}

.right-side .medium {
    position: absolute;
    left: 230px;
    top: 48px;
    z-index: -2;
}

.left-side .far {
    position: absolute;
    left: 138px;
    top: 138px;
    z-index: -4;
}

.right-side .far {
    position: absolute;
    left: 232px;
    top: 138px;
    z-index: -4;
}

.left-side .close-wall-left {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.right-side .close-wall-right {
    position: absolute;
    left: 230px;
    top: 0px;
    z-index: -1;
    
}

.left-side .close-wall-left > img {
    width: 230px;
}

.right-side .close-wall-right > img {
    width: 230px;
    transform: scale(-1,1);   
}

.left-side .medium-wall-left {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -3;
}

.right-side .medium-wall-right {
    position: absolute;
    left: 230px;
    top: 0px;
    z-index: -3;
    
}

.left-side .medium-wall-left > img {
    width: 230px;
    z-index: 100;;
}

.right-side .medium-wall-right > img {
    width: 230px;
    transform: scale(-1,1);   
}

.left-side .close > img {
    width: 230px;
    z-index: 100;;
}

.right-side .close > img {
    width: 230px;
    transform: scale(-1,1);   
}

.left-side .medium > img {
    width: 182px;
} 

.right-side .medium > img {
    width: 182px;
    transform: scale(-1,1);
} 

.left-side .far > img{
    width: 94px;
}

.right-side .far > img{
    width: 94px;
    transform: scale(-1,1);
}

.left-side .close {
    z-index: 0;
}

.right-side .close {
    z-index: 0;
}

/* MAP */

.map {
    margin-top: 20px;
    width: 120px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    background-color: thistle;
}

.map-wall {
    width: 10px;
    height: 10px;
    background-color: black;
}

.map-empty {
    width: 10px;
    height: 10px;
    background: transparent;
}

.map-player {
    width: 10px;
    height: 10px;
    background-color: red;
}

.map-player-front {
    width: 10px;
    height: 10px;
    background-color: yellow;
}

.map-player-front-2 {
    width: 10px;
    height: 10px;
    background-color: rgb(255, 145, 0);
}

.map-player-left-1 {
    width: 10px;
    height: 10px;
    background-color: rgb(0, 255, 0);
}

.map-player-left-2 {
    width: 10px;
    height: 10px;
    background-color: rgb(0, 184, 0);
}

.map-player-left-3 {
    width: 10px;
    height: 10px;
    background-color: rgb(0, 130, 0);
}

.map-player-right-1 {
    width: 10px;
    height: 10px;
    background-color: rgb(255, 0, 157);
}

.map-player-right-2 {
    width: 10px;
    height: 10px;
    background-color: rgb(177, 0, 109);
}

.map-player-right-3 {
    width: 10px;
    height: 10px;
    background-color: rgb(118, 0, 72);
}


