body {
    background-color: darkslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 100px;
    flex-direction: column;
    color: white;
    font-family: 'Press Start 2P', cursive;
}

.game-window {
    width: 720px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px white solid;
    padding: 0 10px 0 10px;
}

.maze-window {
    width: 460px;
    height:460px;
    border: white 2px solid;
    display: flex;
}

.side-window {
    width: 240px;
    height: 460px;
    border: white 2px solid;
    justify-self:right;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.hero-info {
    width: 240px;
    height: 150px;
    border-bottom: white 2px solid;   
}

.enemy-info {
    width: 240px;
    height: 150px;
    border-bottom: white 2px solid;   
}

.controll {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.button {
    width: 75px;
    height:75px;
    background-color: tomato;
    border: 2px white solid;
}

.button:target {
    background-color: black;
}

.button:hover {
    background-color: rgb(165, 65, 47);
}



.turnRight {
    transform: scale(-1, 1);
}

.backward {
    transform: scale(1, -1);
}

.left {
    transform: rotate(-90deg);
}

.right {
    transform: rotate(90deg);
}

.right-side > img{
    transform: scale(-1,1);
}

.map {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    background-color: thistle;
}

.map-wall {
    width: 10px;
    height: 10px;
    background-color: black;
}

.map-empty {
    width: 10px;
    height: 10px;
    background: transparent;
}

.map-player {
    width: 10px;
    height: 10px;
    background-color: red;
}

.map-player-front {
    width: 10px;
    height: 10px;
    background-color: yellow;
}


